
The manager can edit visitors exit time
The manager can full CRUD ResidentialUnit
The manager can view past logs (default 3 mths)

Models Schema

ResidentialUnit
  -> Block No (String)
  -> Unit No (String)
  -> Occupant Name (String)
  -> Contact Number (String)

  # hasOne -> Resident
  hasMany -> Visitor -> Through -> Visits

--------------------------------------------------------

# Resident
#   -> Occupant Name (String)
#   -> Contact Number (String)

#   belongsTo -> ResidentialUnit

# --------------------------------------------------------

Visitor
  -> Name (String)
  -> Contact Number (String)
  -> NRICLast3Digits (String)

  belongsTo -> Visits

--------------------------------------------------------

Visits
  -> EnteredTime (DateTime NOW)
  -> ExitTime (DateTime)

  belongsTo -> Visitor
  belongsTo -> ResidentialUnit

  (IF CURRENT ENTER DATE FALLS WITHIN BAND)
    TRIGGER ALERT 8 PPL MAX


TODO 

Manager Auth
Manager CRUD for ResidentialUnit
Visit Form for Visitors to create Visits
Admin Panel for Data Management



QNs
  -> SHOULD MANAGER BE ALLOWED TO LOGIN OR IS IT AN OPEN SYSTEM THAT ONLY CONDO MGMT GETS TO SEE?

  -> SHOULD MANAGER SEE ALL VISIT LOGS OR ONLY UP TO 3 MONTHS

  -> MAKES SENSE TO ADD ALL OCCUPANTS TO RES UNIT OR JUST ONE? SHOULD VISITS SPECIFY THE LOCATION(FUNC RM, ETC)?


TO MAKE IT MORE COMPLETE
  -> DETAILED UX AND USERFLOW
  -> PROPER STYLING & TAILWIND/BOOTSTRAP
  -> EDGE CASES, CSRF TOKENS, SQL INJECTIONS, VALIDATIONS, PAGINATION ETC
  -> ELOQUENT CODE CLEANUP ON VISITOR LOG SEARCH

would have set the timezone to UTC, Use a wider-browser compatable date picker


Asc order of visits / res units
Search by unit number for logs
Show only up to 3 mths ago
